<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
        <%= partial "css_include" %>
        <%= stylesheet_link_tag "site" %>
        <%= javascript_include_tag "site" %>
        <%= feed_tag :atom, "#{blog('blog').options.prefix.to_s}/feed.xml", title: "Atom Feed - Blog" %>
    </head>
    <body>

        <div id="main" role="main">
            <%= partial "header" %>
            <%= yield %>
        </div>

        <aside>
            <h2>Recent Articles</h2>
            <ol>
                <% blog('blog').articles[0...10].each do |article| %>
                    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e %Y') %></span></li>
                <% end %>
            </ol>

            <h2>Tags</h2>
            <ol>
                <% blog('blog').tags.each do |tag, articles| %>
                    <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
                <% end %>
            </ol>

            <h2>By Year</h2>
            <ol>
                <% blog('blog').articles.group_by {|a| a.date.year }.each do |year, articles| %>
                    <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
                <% end %>
            </ol>
        </aside>
        <%= partial "js_include" %>
    </body>
</html>
