<% wrap_layout :layout do %>
  <div class="blog-content container">
    <%= page_title(current_page.data.title, false, blog.articles) %>
    <%= page_info(current_article) %>
    <%= page_links(current_page) %>
    <%= try_page_video(current_article) %>
    <%= try_page_images(current_article) %>
    <%= try_page_audio(current_article) %>
    <div class="row justify-content-center readable">
      <% if current_page.tags.include?("fiction") %>
      <blockquote>
        <div class="col-12 text-center">
          This is a work of fiction. Names, characters, events and incidents are the products of the author’s imagination. Any resemblance to actual persons, living or dead, or actual events is purely coincidental.
        </div>
      </blockquote>
      <% end %>
      <% if current_page.tags.include?("ramble") %>
      <blockquote>
        <div class="col-12 text-center">
          This blog post is one of many (hopefully) daily posts. It will likely be less structured and more experimental (read: bad) than my other writing. It's a writing exercise more than anything. By writing something everyday, I'm looking to find my voice and figure out if I have anything of value to say.
        </div>
      </blockquote>
      <% end %>
      <%= yield %>
      <blockquote class="blog-call-to-action">
        <%= contact_info() %>
      </blockquote>
    </div>
    <%= partial "footer_desktop" %>
  </div>
<% end %>
