<% wrap_layout :layout do %>
    <% content_for :header do %>
        <%= partial "feed_projects" %>
    <% end %>
    <% content_for :sidebar do %>
        <%= partial "sidebar_projects" %>
    <% end %>
    <div id="gallery-links">
        <% get_project_images(current_article).each do |data| %>
            <a href="<%= data.screenshot_path %>" title="<%= data.name %>"></a>
        <% end %>
    </div>
    <div class="container">
        <div class="row">
            <%# left %>
            <div class="col">
                <%# title %>
                <div class="row justify-content-center">
                    <h1>
                        <%= current_article.title %>
                    </h1>
                </div>
                <%# data %>
                <% unless current_page.tags.nil? %>
                  <div class="row justify-content-center">
                      <p><%= current_page.tags.join(' - ') %></p>
                  </div>
                <% end %>
                <%# video and images %>
                <% has_video = !current_article.data.youtube_video_id.nil? %>
                <% has_images = has_project_images?(current_article) %>
                <% if has_video or has_images %>
                    <div class="row justify-content-center">
                        <% columns_left = 9 %>
                        <% if has_video %>
                            <div class="col-12 col-lg-6">
                                <div class="row align-items-center justify-content-center justify-content-lg-end">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/<%= current_article.data.youtube_video_id %>?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <% columns_left = 6 %>
                        <% end %>
                        <% if has_images %>
                            <div class="col-12 col-lg-<%= columns_left %>">
                                <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
                                    <div class="slides"></div>
                                    <h3 class="title"></h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
                <% unless current_page.data.project_url.nil? %>
                    <%# play link %>
                    <div class="row justify-content-center">
                        <h2>
                            <%= link_to current_page.data.url_text, current_page.data.project_url %>
                        </h2>
                    </div>
                <% end %>
                <%# text %>
                <div class="row">
                    <h3>
                       "<%= current_page.data.blurb %>"
                    </h3>
                </div>
                <div class="row">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
<% end %>
