<% wrap_layout :layout do %>
    <div id="gallery-links">
        <% get_game_images(current_article).each do |data| %>
            <a href="<%= data.screenshot_path %>" title="<%= data.name %>"></a>
        <% end %>
    </div>
    <div class="container">
        <div class="row">
            <%# left %>
            <div class="col">
                <%# title %>
                <div class="row justify-content-center">
                    <h1>
                        <%= current_article.title %>
                    </h1>
                </div>
                <%# data %>
                <div class="row justify-content-center">
                    <div class="col-4 col-lg-auto">
                        <p>engine: <%= current_page.data.engine %></p>
                    </div>
                    <div class="col-4 col-lg-auto">
                        <p>languages: <%= current_page.data.languages %></p>
                    </div>
                    <div class="col-4 col-lg-auto">
                        <p>platforms: <%= current_page.data.platforms %></p>
                    </div>
                </div>
                <%# video %>
                <div class="row justify-content-center">
                    <% columns_left = 9 %>
                    <% unless current_article.data.youtube_video_id.nil? %>
                        <div class="col-lg-6">
                            <div class="row align-items-center justify-content-center justify-content-lg-end">
                                <div class="col">
                                    <iframe width=512 height=288 src="https://www.youtube-nocookie.com/embed/<%= current_article.data.youtube_video_id %>?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <% columns_left = 6 %>
                    <% end %>
                    <%# images %>
                    <div class="col-12 col-lg-<%= columns_left %>">
                        <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
                            <div class="slides"></div>
                            <h3 class="title"></h3>
                            <a class="prev">‹</a>
                            <a class="next">›</a>
                            <a class="play-pause"></a>
                            <ol class="indicator"></ol>
                        </div>
                    </div>
                </div>
                <% unless current_page.data.play_url.nil? %>
                    <%# play link %>
                    <div class="row justify-content-center">
                        <h2>
                            <%= link_to "Play Now", current_page.data.play_url %>
                        </h2>
                    </div>
                <% end %>
                <%# text %>
                <div class="row justify-content-center">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
<% end %>
