<% wrap_layout :layout do %>
  <div class="container">
    <% if current_article.tags.include?('thumbs_up') %>
      <% icon = "&#x1F44D" %>
    <% end %>
    <% if current_article.tags.include?('thumbs_down') %>
      <% icon = "&#x1F44E" %>
    <% end %>
    <%= page_title(current_page.data.title + " Review " + icon) %>
    <%= page_links(current_page) %>
    <div class="row justify-content-center readable">
      <%= yield %>
    </div>
    <% has_any_pros = !current_page.data.pros.nil? and current_page.data.pros.length > 0 %>
    <% has_any_cons = !current_page.data.cons.nil? and current_page.data.cons.length > 0 %>
    <% if has_any_pros or has_any_cons %>
      <% if has_any_pros %>
        <div class="row justify-content-center">
          <h2>Pros</h2>
        </div>
        <div class="row readable">
          <ul>
            <% current_page.data.pros.each do |pro| %>
              <li><%= pro %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if has_any_cons %>
        <div class="row justify-content-center">
          <h2>Cons</h2>
        </div>
        <div class="row readable">
          <ul>
            <% current_page.data.cons.each do |con| %>
              <li><%= con %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    <% unless current_page.data.outro.nil? %>
      <div class="row readable">
        <%= current_page.data.outro %>
      </div>
    <% end %>
  <%= page_tags(current_page) %>
  </div>
<% end %>
