<% wrap_layout :layout do %>
  <div class="project-content container">
    <%= page_title(current_article.title) %>
    <%= try_page_video(current_article) %>
    <%= try_page_images(current_article) %>
    <%= page_links(current_page) %>
    <%# text %>
    <div class="row justify-content-center">
      <div class="project-blurb readable text-center" >
        <%= current_page.data.blurb %>
      </div>
    </div>
    <div class="row justify-content-center readable">
      <%= yield %>
    </div>
  </div>
<% end %>
