<% wrap_layout :layout do %>
  <div class="blog-content container">
    <%= page_title(current_page.data.title) %>
    <%= try_page_video(current_article) %>
    <%= try_page_images(current_article) %>
    <%= page_links(current_page) %>
    <%= page_info(current_article) %>
    <div class="row justify-content-center readable">
          <%= yield %>
    </div>
  </div>
<% end %>
