<% wrap_layout :layout do %>
  <div class="blog-content container">
    <%= page_title(current_page.data.title) %>
    <%= page_info(current_article) %>
    <%= page_links(current_page) %>
    <%= try_page_video(current_article) %>
    <%= try_page_images(current_article) %>
    <%= try_page_audio(current_article) %>
    <div class="row justify-content-center readable">
      <%= yield %>
      <blockquote>
        <div class="col-12 text-center"><a href="http://twitter.com/strategineer">Follow me on twitter</a> if you'd like to be notified whenever I post an essay!
        </div>
        <div class="col-12 text-center">
            If you want to discuss everything about anything, <a href="mailto:me@strategineer.com">you can reach me at me@strategineer.com</a>.
        </div>
      </blockquote>
    </div>
    <%= partial "footer_desktop" %>
  </div>
<% end %>
