---
pageable: false
blog: reviews
---
<% content_for :head do %>
    <%= partial "feed_reviews" %>
<% end %>
<% content_for :sidebar do %>
    <%= partial "sidebar_reviews" %>
<% end %>
<h1>Articles tagged '<%= tagname %>'</h1>

<%= partial "page_number" %>
<%= partial "page_previous" %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e %Y') %></span></li>
  <% end %>
</ul>

<%= partial "page_next" %>
