<div class="row justify-content-center cv-name">
  <div class="col-12 text-center">
    <h1><%= d.name %></h1>
  </div>
</div>
<div class="row justify-content-center cv-title">
  <div class="col-12 text-center">
    <h2><%= d.title %></h2>
  </div>
</div>
<div class="row justify-content-center cv-content cv-readable">
  <div class="col-xl-3 text-center cv-sidebar">
    <div class="row">
      <% if current_page.path.start_with?("cv_fr.html") %>
        <div class="col-12 justify-content-center">
          <%= link_to "CV in english", "/cv.html" %>
        </div>
      <% elsif current_page.path.start_with?("cv.html") %>
        <div class="col-12 justify-content-center">
          <%= link_to "CV en français", "/cv_fr.html" %>
        </div>
      <% end %>
    </div>
    <div class="row">
    <% d.sidebar_section.each do |v| %>
      <div class="col-12 cv-sidebar-section">
        <h4><%= v.title %></h4>
        <ul class="list-inline">
        <% v.list.each do |e| %>
          <li class="list-inline-item"><%= e %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
  <div class="col-xl-9 cv-main">
    <% d.main_section.each do |v| %>
      <div class="col-12 cv-main-section">
        <h3 class="cv-main-title"><%= v.title %></h3>
        <% v.list.each do |e| %>
          <div class="col-12 cv-main-entry">
            <div class="row cv-main-entry-header">
              <div class="col-xl-6 text-left cv-main-entry-title">
                <h4><%= e.title %></h4>
              </div>
              <div class="col-xl-2 text-right cv-main-entry-year">
              <%= e.year %>
              </div>
              <div class="col-xl-4 text-right cv-main-entry-hint">
              <%= e.hint %>
              </div>
            </div>
            <% if defined? e.tech %>
            <div class="row justify-content-center cv-main-entry-tech">
              <ul class="list-inline">
              <% e.tech.each do |t| %>
                <li class="list-inline-item"><%= t %></li>
              <% end %>
              </ul>
            </div>
            <% end %>
            <% if defined? e.list %>
            <div class="row justify-content-left cv-main-entry-bullets">
              <ul>
              <% e.list.each do |b| %>
                <li><%= b %></li>
              <% end %>
              </ul>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
