<% blog_id = ""%>
<% blog_name = ""%>
<% blog_archive = ""%>
<% is_home = current_page.destination_path.start_with?("index.html") %>
<% is_blog = current_page.destination_path.start_with?("blog") %>
<% is_project = current_page.destination_path.start_with?("projects") %>
<% is_review = current_page.destination_path.start_with?("reviews") %>
<% is_portfolio = current_page.destination_path.start_with?("portfolio") %>
<% is_food = current_page.destination_path.start_with?("food") %>
<% if is_blog or is_home or is_portfolio %>
  <% blog_id = "blog"%>
  <% blog_name = "blog posts"%>
  <% blog_archive = "/"%>
<% elsif is_project %>
  <% blog_id = "projects"%>
  <% blog_name = "projects"%>
  <% blog_archive = "/projects/"%>
<% elsif is_review %>
  <% blog_id = "reviews"%>
  <% blog_name = "reviews"%>
  <% blog_archive = "/reviews/"%>
<% elsif is_food %>
  <% blog_id = "food"%>
  <% blog_name = "food"%>
  <% blog_archive = "/food/"%>
<% end %>
<% ls = get_articles_shortlist(10, blog_id) %>
<% if ls[0].length() > 0 %>
<div class="row justify-content-center footer-shortlist-title">
  <h4>Recent <%= blog_name %>:</h4>
</div>
<div class="footer-shortlist-parent">
  <ul class="footer-shortlist-list">
    <% ls[0].each do |article| %>
      <a href="<%= article.url %>">
        <li class="footer-shortlist-item"> <%= article.title %></li>
      </a>
    <% end %>
    <% if ls[1] > 0 %>
      <li class="footer-shortlist-archive"><a href="<%= blog_archive %>">... with <%= ls[1] %> more <%= blog_name %> in the archive</a>.</li>
    <% end %>
  </ul>
</div>
<% end %>
