<% if defined? tagname %>
    <h3><%= "Games tagged " + tagname %></h3>
<% end %>
<% if defined? page_type and (page_type == 'day' or page_type == 'month' or page_type == 'year' ) %>
    <h3>Archive for
      <% case page_type
         when 'day' %>
        <%= Date.new(year, month, day).strftime('%b %e %Y') %>
      <% when 'month' %>
        <%= Date.new(year, month, 1).strftime('%b %Y') %>
      <% when 'year' %>
        <%= year %>
      <% end %>
    </h3>
<% end %>
<%= link_to "All Games", "/games.html" %>
<h4>Tags</h4>
<ol>
    <% blog.tags.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
    <% end %>
</ol>

<h4>By Year</h4>
<ol>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
    <% end %>
</ol>
