<rss>
  <channel>
    <lastBuildDate><%= DateTime.now.utc.rfc822 %></lastBuildDate>

    <% sitemap.resources %>
    <% .select { |r| r.is_a? Middleman::Blog::BlogArticle } %>
    <% .select { |b| b.path.start_with? "journals" } %>
    <% .sort { |a, b| a.date <=> b.date }.reverse %>
    <% .each do |article| %>
    <item>
      <title>Blog - <%= article.title %></title>
      <% article_link = "https://strategineer.com/" + article.destination_path %>
      <link><%= article_link %></link>
      <guid><%= article_link %></guid>
      <% desc = article.summary(250, '>>').gsub("<p>", "").gsub("</p>", "").gsub("</", "").gsub("<p", "").gsub("</p", "").gsub("</", "").gsub("<", "") %>
      <description><%= desc %></description>
      <pubDate><%= article.date.utc.rfc822 %></pubDate>
      <% article.data["tags"].split(', ').each do |tag| %>
      <category><%= tag %></category>
      <% end %>
    </item>
    <% end %>
  </channel>
</rss>
