---
title: Bill C. Tyros
---
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Nice to meet you!</h1>
    <p class="text-center">My name's Bill, I'm a programmer and I love tackling tough challenges. I'm currently in between jobs and actively looking for interesting opportunities.</p>
    <p>You can take a look at <%= link_to 'the work I\'ve done', '/projects.html' %> if you're interested, <%= link_to 'my open source code', 'https://github.com/keikakub' %> or <%= link_to 'my CV in english', '/cv.html' %>/<%= link_to 'french', '/cv.html#fr' %>.</p>
    <p>I've written a lot of <%= link_to 'succinct video games reviews', '/reviews.html' %> over the past couple of years. Recently, I've been writing longer form texts <%= link_to 'on video games, tech and my life', '/blog.html' %>.</p>
    <p>If you want to get in touch with me, poke me at <%= mail_to 'me@btyros.com' , 'me@btyros.com' %></p>
  </div>
</div>
