---
title: Bill C. Tyros
---
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Nice to meet you!</h1>
    <p class="text-center">My name's Bill, I'm a programmer, I love video games and tackling tough challenges.  I'm currently in between jobs and actively looking for interesting opportunities.</p>
    <p class="">I've written a lot of <%= link_to 'succinct video games reviews', '/reviews.html' %>. I'm <%= link_to 'writing on video games, tech and my life on my blog', '/blog.html' %>. You can take a look at <%= link_to 'the work I\'ve done', '/projects.html' %> if you're interested, <%= link_to 'my CV in english', '/cv.html' %> or <%= link_to 'in french', '/cv_fr.html' %>.</p>
    <p class="">If anything I've written speaks to you or if you want to get in touch with me, send me a message at <%= mail_to 'me@btyros.com' , 'me@btyros.com' %></p>
    <p class="">You can also find me on these platforms: <%= link_to 'Github', 'https://github.com/keikakub' %>, <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/billtyros/' %>.</p>
  </div>
</div>
