---
title: Strategineer
---
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Nice to meet you!</h1>
    <p class="text-center">My name's Bill, I'm many things including: a software engineer, a video game aficionado and an avid reader/writer.</p>
    <p class="text-center">I usually live stream a game I enjoy on Sundays at 2pm EDT at <%= link_to 'twitch.tv/strategineer', 'https://twitch.tv/strategineer' %>. I post the recordings on my <%= link_to 'youtube channel', 'https://www.youtube.com/channel/UC0EHJkN64bxVeAPrBKcfy1w' %>.</p>
      <p class="text-center"> You can take a look at <%= link_to 'the work I\'ve done', '/projects.html' %> and <%= link_to 'my open source code', 'https://github.com/strategineer' %>.
    I've written a lot of <%= link_to 'succinct video games reviews', '/reviews.html' %>. I also write longer form articles <%= link_to 'on tech, life and video games', '/blog.html' %>.</p>
    <p class="text-center">I would love to hear from you. You can email me at <%= mail_to 'me@strategineer.com' , 'me@strategineer.com' %>, chat with me on <%= link_to 'my Discord server', 'https://discord.gg/7vatsrJ' %> and watch me stream at <%= link_to 'twitch.tv/strategineer', 'https://twitch.tv/strategineer' %>.</p>
  </div>
</div>
